<div class="sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="logo">
        <%= link_to image_tag('/images/oodls-logo.svg'), root_path %>
      </li>

      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li>
          <%= link_to_unless I18n.locale == :en, 'EN', set_language_english_path %>
        </li>
        <li>
          <%= link_to_unless I18n.locale == :sv, 'SV', set_language_swedish_path %>
        </li>
        <% if charity_signed_in? %>
            <li class="has-dropdown">
              <a href="#"><%= @current_charity.organisation %></a>
              <ul class="dropdown">
                <li><%= link_to t('oodls.ui.my_profile'), "/charities/#{@current_charity.id}" %></li>
                <li><%= link_to t('oodls.devise-ui.sign_out'), destroy_charity_session_path, method: :delete %></li>
              </ul>
            </li>
        <% elsif donor_signed_in? %>
            <li class="has-dropdown">
              <a href="#"><%= @current_donor.organisation %></a>
              <ul class="dropdown">
                <li><%= link_to t('oodls.ui.my_profile'), "/donors/#{@current_donor.id}" %></li>
                <li><%= link_to t('oodls.devise-ui.sign_out'), destroy_donor_session_path, method: :delete %></li>
              </ul>
            </li>
        <% end %>
      </ul>
      <ul class="right">
        <li class="has-dropdown">
          <a href="#"><%= t('oodls.ui.i_have_food_to_give') %></a>
          <ul class="dropdown">
            <% unless charity_signed_in? %>
                <% unless donor_signed_in? %>
                    <li><%= link_to t('oodls.ui.add_donor'), new_donor_registration_path %></li>
                    <li><%= link_to t('oodls.devise-ui.sign_in'), donor_session_path %></li>
                <% else %>
                    <li><%= link_to t('oodls.ui.donations.create_a_donation'), new_donation_path %></li>
                <% end %>
            <% end %>
            <li><%= link_to t('oodls.ui.all_donors'), donors_index_path %></li>
            <li><%= link_to t('oodls.ui.where_to_give'), charities_path %></li>
            <li><%= link_to t('oodls.ui.donation_guidlines'), "#", "data-reveal-id" => "how-to-modal" %></li>
            <li><%= link_to t('oodls.ui.what_mote_can_i_do'), "#", "data-reveal-id" => "what-else-modal" %></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="#"><%= t('oodls.ui.i_am_a_charity') %></a>
          <ul class="dropdown">
            <% unless charity_signed_in? | donor_signed_in? %>
                <li><%= link_to t('oodls.ui.add_charity'), new_charity_registration_path %></li>
                <li><%= link_to t('oodls.devise-ui.sign_in'), new_charity_session_path %></li>
            <% end %>
            <li><%= link_to t('oodls.ui.donations.all_donations'), donations_path %></li>
            <li><%= link_to t('oodls.ui.all_charities'), charities_path %></li>
            <li><%= link_to t('oodls.ui.do_i_qualify'), "#", "data-reveal-id" => "qualifications-modal" %></li>
          </ul>
        </li>
        <li><%= link_to t('oodls.ui.about'), "#", "data-reveal-id" => "about-modal" %></li>
        <li><%= link_to t('oodls.ui.contact_us'), "#", "data-reveal-id" => "contact-us-modal" %></li>
      </ul>
    </section>
  </nav>
</div>
