<div id="what-else-modal" class="reveal-modal" data-reveal>
  <div class="row">
  	<div class="small-12 columns">
		  <h2><%= t('oodls.ui.what_mote_can_i_do') %></h2>
		</div>
  </div>
	<div class="row">
		<div class="small-12 columns">
			<ul id="what-else">
				<li>Volunteer at an Oodls charity</li>
				<li>Organise a local waste food collection on behalf of an Oodls charity</li>
				<li>Tell everyone you know to check out the site!</li>
				<li>Follow us on twitter</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p><%= t('oodls.ui.ideas_suggestions') %> <%= link_to t('oodls.ui.contact_us'), "#", "data-reveal-id" => "contact-us-modal" %>.</p>
		</div>
	</div>
	<div class="row">
  	<div class="small-12 columns">
			<h3><%= t('oodls.ui.coders') %></h3>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p><%= t('oodls.ui.open_source_message') %> <a href="https://github.com/Callisto13/Oodls"><%= t('oodls.ui.fork_us') %></a></p>
		</div>
	</div>
  <a class="close-reveal-modal">&#215;</a>
</div>