<section style="margin-left: 20px; margin-right: 20px;">
  <% if @donor.donor_comments %>
      <% @donor.donor_comments.each do |comment| %>
          <div class="row donor_comments">
            <div class="small-12 columns">
              <p>
                <strong><%= comment.charity.organisation %></strong>
                (<em><%= time_ago_in_words comment.created_at %></em>):
              </p>

              <p><%= comment.body %></p>
            </div>
          </div>
      <% end %>
  <% end %>

  <%= form_for([@donor, @donor.donor_comments.build]) do |f| %>
      <div class="row">
        <div class="small-12 columns">
          <p><%= t('oodls.ui.comment').humanize %> &#42;</p>
          <%= f.text_area :body, placeholder: t('oodls.ui.comment').humanize %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns actions">
          <%= f.submit t('oodls.ui.submit'), class: 'small button' %>
        </div>
      </div>
  <% end %>
</section>

