<div class="row">
  <div class="small-12 columns">
    <h3><%= t('oodls.ui.rating').humanize %></h3>
    <div class="row">
      <div class="small-12 columns">
        <%= t('oodls.ui.quality') %>  <%= rating_for donor, 'quality', cancel: true %>
      </div>
    </div>
    <div class="row">
      <div class="small-12  columns">
        <%= t('oodls.ui.reliability') %>  <%= rating_for donor, 'reliability', cancel: true %>
      </div>
    </div>
  </div>
</div>