<%= render 'donor_signed_in_links' %>
<div class="charity-profile row">
  <div class="small-12 medium-6 large-3 columns">
    <div class="row">
      <% if @donor.logo? %>
          <%= cl_image_tag @donor.logo.path, {width: 200, height: 200, crop: :thumb} %>
      <% else %>
          <%= image_tag '/images/oodls-placeholder.svg', {width: 200, height: 200} %>
      <% end %>
    </div>
  </div>
  <div class="small-12 medium-6 large-3 columns">
    <div class="row">
      <%= @donor.description %>
    </div>
    <% if @donor.website_url %>
        <div class="row">
          <%= link_to t('oodls.ui.visit_the_website'), @donor.website_url, target: '_blank' %>
        </div>
    <% end %>
  </div>
  <div class="small-12 medium-6 large-3 columns">
    <div class="row">
      <h3><%= t('oodls.ui.registrations.org_contact_header') %></h3>
      <ul class="no-bullet">
        <li><%= @donor.contact_name %></li>
        <li><a href="mailto:<%= @donor.email %>"><%= t('oodls.ui.email_us') %></a></li>
        <li><%= @donor.full_address %></li>
        <li><%= @donor.postcode %></li>
      </ul>
    </div>
  </div>
  <div class="small-12 medium-6 large-3 columns">
    <%= render 'rating', donor: @donor %>
  </div>
  <hr>
</div>
<% if @donor.donations %>
  <div class="row">
    <div class="small-12 columns panel">
      <h3><%= t('oodls.ui.donations.donations') %></h3>
      <% @donor.donations.each do |donation| %>
        <h5><%= donation.title %></h5>
        <small><%= [t('oodls.ui.created'), localize(donation.created_at, format: :long)].join(' ') %></small>
        <p><%= donation.description %></p>
        <small> <%= [t('oodls.ui.donations.claimed_by'), claimed_by(donation)].join(' ') %></small>
        <small> <%= [t('oodls.ui.donations.delivered_to'), delivered_to(donation)].join(' ') %></small>

        <hr/>
      <% end %>
    </div>
  </div>
<% end %>

<%= render 'charities_comments' %>
