<%= render 'donor_signed_in_links' %>
<div class="charity-profile row">
  <div class="small-12 medium-6 large-3 columns">
    <div class="row">
      <% if @donor.logo? %>
          <%= cl_image_tag @donor.logo.path, {width: 200, height: 200, crop: :thumb} %>
      <% else %>
          <%= image_tag '/images/oodls-placeholder.svg', {width: 200, height: 200} %>
      <% end %>
    </div>
  </div>
  <div class="small-12 medium-6 large-3 columns">
    <div class="row">
      <%= @donor.description %>
    </div>
    <% if @donor.website_url %>
        <div class="row">
          <%= link_to t('oodls.ui.visit_the_website'), @donor.website_url, target: '_blank' %>
        </div>
    <% end %>
  </div>
  <div class="small-12 medium-6 large-3 columns">
    <div class="row">
      <h3><%= t('oodls.ui.registrations.org_contact_header') %></h3>
      <ul class="no-bullet">
        <li><%= @donor.contact_name %></li>
        <li><a href="mailto:<%= @donor.email %>"><%= t('oodls.ui.email_us') %></a></li>
        <li><%= @donor.full_address %></li>
        <li><%= @donor.postcode %></li>
      </ul>
    </div>
  </div>
  <div class="small-12 medium-6 large-3 columns">
    <%= render 'rating', donor: @donor %>
  </div>
  <hr>
</div>

<% if @donor.donations.any? || charity_signed_in? %>
  <div class="row">
    <div class="small-12 columns">
      <ul class="tabs" data-tab role="tablist" style="border: 1px solid #ccc;margin-bottom: 1.3rem;">
        <% if charity_signed_in? %>
          <li class="tab-title active" role="presentational">
            <a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1"><%= t('oodls.ui.comments').humanize %></a>
          </li>
        <% end %>
        <% if @donor.donations.any? %>
            <li class="tab-title" role="presentational">
              <a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" controls="panel2-2"><%= t('oodls.ui.donations.donations') %></a>
            </li>
        <% end %>
      </ul>
      <div class="tabs-content" style="border: 1px solid #ccc;margin-bottom: 1.3rem;">
        <% if charity_signed_in? %>
          <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
            <%= render 'charities_comments' %>
          </section>
        <% end %>
        <% if @donor.donations.any? %>
            <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
              <%= render 'donor_donations' %>
            </section>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
