<%= render 'donor_signed_in_links' %>
<div class="charity-profile row">
  <div class="small-12 medium-6 large-3 columns">
    <div class="row">
      <% if @donor.logo? %>
          <%= cl_image_tag @donor.logo.path, { width: 200, height: 200, crop: :thumb} %>
      <% else %>
          <%= image_tag '/images/oodls-placeholder.svg', { width: 200, height: 200} %>
      <% end %>
    </div>
  </div>
  <div class="small-12 medium-6 large-3 columns">
    <div class="row">
      <%= @donor.description %>
    </div>
    <% if @donor.website_url %>
        <div class="row">
          <%= link_to t('oodls.ui.visit_the_website'), @donor.website_url, target: '_blank' %>
        </div>
    <% end %>
  </div>
  <div class="small-12 medium-6 large-3 columns">
    <div class="row">
      <h3><%= t('oodls.ui.registrations.org_contact_header') %></h3>
      <ul class="no-bullet">
        <li><%= @donor.contact_name %></li>
        <li><a href="mailto:<%= @donor.email %>"><%= t('oodls.ui.email_us') %></a></li>
        <li><%= @donor.full_address %></li>
        <li><%= @donor.postcode %></li>
      </ul>
    </div>
  </div>
</div>
