<div class="row">
  <div class="small-12 columns">
    <h2><%= t('oodls.devise-ui.sign_up') %></h2>
  </div>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <%= devise_error_messages! %>
    </div>
  </div>
  <div class ="row">
    <div class="small-4 columns">
      <p><%= t('oodls.ui.registrations.organisation_name') %> &#42;</p>
    </div>
    <div class="small-8 columns">
      <%= f.text_field :organisation, autofocus: true, placeholder: t('oodls.ui.registrations.organisation_name') %>
    </div>
  </div>
  <div class ="row">
  <div class="small-12 columns">
    <%= f.text_field :description, placeholder: t('oodls.ui.registrations.org_description') %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <%= f.text_field :website_url, placeholder: t('oodls.ui.registrations.org_url') %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <h4><%= t('oodls.ui.registrations.org_logo') %></h4>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <%= f.attachinary_file_field :logo %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <h4><%= t('oodls.ui.registrations.org_contact_header') %></h4>
    </div>
  </div>
  <div class ="row">
    <div class="small-4 columns">
      <p><%= t('oodls.ui.registrations.org_person') %></p>
    </div>
    <div class="small-8 columns">
      <%= f.text_field :contact_name, placeholder: t('oodls.ui.registrations.org_person') %>
    </div>
  </div>
  <div class ="row">
    <div class="small-4 columns">
      <p><%= t('elements.email') %> &#42;</p>
    </div>
    <div class="small-8 columns">
      <%= f.email_field :email, placeholder: t('oodls.ui.registrations.org_person_email') %>
    </div>
  </div>
  <div class ="row">
    <div class="small-4 columns">
      <p><%= t('elements.address') %> &#42;</p>
    </div>
    <div class="small-8 columns">
      <%= f.text_field :full_address, placeholder: t('oodls.ui.registrations.org_donation_center_address') %>
    </div>
  </div>
  <div class ="row">
    <div class="small-4 columns">
      <p><%= t('elements.postcode') %> &#42;</p>
    </div>
    <div class="small-8 columns">
      <%= f.text_field :postcode, placeholder: t('elements.postcode') %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <h4><%= t('oodls.ui.registrations.password') %></h4>
      <% if @validatable %>
      <em><%= [@minimum_password_length, t('oodls.ui.registrations.characters_minimum')].join(' ') %></em>
      <% end %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
        <%= f.password_field :password, autocomplete: "off", placeholder: t('oodls.ui.registrations.password') %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: t('oodls.ui.registrations.password_cofirm') %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <%= f.submit t('oodls.devise-ui.sign_up'), class: "button small" %>
    </div>
  </div>
<% end %>
