<div id="splash">
  <div class="splash-slide item">
      <%= image_tag "splash-images/food-waste_1.jpg" %>
    <div class="text">
      <h1><%= t('oodls.ui.splash.message_1') %></h1>
    </div>
  </div>
  <div class="splash-slide item">
    <%= image_tag "splash-images/splash-2.jpg" %>
    <div class="text">
      <h1><%= t('oodls.ui.splash.message_2') %></h1>
    </div>
  </div>
  <div class="splash-slide item">
    <%= image_tag "splash-images/food-waste_2.jpg" %>
    <div class="text">
      <h1><%= t('oodls.ui.splash.message_3') %></h1>
    </div>
  </div>
  <div class="splash-slide item">
    <%= image_tag "splash-images/splash-4.jpg" %>
    <div class="text">
      <h1><%= t('oodls.ui.splash.message_4') %></h1>
    </div>
  </div>
</div>
