<div class="row">
  <div class="small-12 columns">
    <h2><%= t('oodls.ui.donations.create_a_donation') %></h2>
  </div>
</div>
<%= form_for @donation do |f| %>
    <div class="row">
      <div class="small-4 columns">
        <p><%= t('oodls.ui.title').humanize %> &#42;</p>
      </div>
      <div class="small-8 columns">
        <%= f.text_field :title, placeholder: t('oodls.ui.title').humanize %>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <p><%= t('oodls.ui.description').humanize %> &#42;</p>
      </div>
      <div class="small-8 columns">
        <%= f.text_field :description, placeholder: t('oodls.ui.description').humanize %>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <p><%= t('oodls.ui.donations.from_date').humanize %> &#42;</p>
      </div>
      <div class="small-3 columns" style="float:left !important;">
        <%= f.date_field :from_date, placeholder: t('oodls.ui.registrations.org_donation_center_address') %>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <p><%= t('oodls.ui.donations.will_deliver').humanize %></p>
      </div>
      <div class="row">
        <div class="switch small small-3 columns">
          <%= f.check_box(:will_deliver) %>
          <%= f.label(:will_deliver, t('oodls.ui.donations.will_deliver').humanize) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div class="actions">
          <%= f.submit t('oodls.ui.submit'), class: 'small button' %>
        </div>
      </div>
    </div>
<% end %>
