<div class="row">
  <div class="small-6 columns">
    <h2><%= t('oodls.ui.donations.all_donations') %></h2>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">

    <ul class="small-block-grid-3">
      <% @donations.each do |donation| %>
          <li><!-- Your content goes here -->

            <div class="row">
              <div class="small-12 columns">
                <h3><%= donation.title %></h3>
              </div>
            </div>
            <% if donation.try(:donor) %>
                <div class="row">
                  <div class="small-12 columns">
                    <h4><%= link_to donation.donor.organisation, "/donors/#{donation.donor}" %></h4>
                  </div>
                </div>
            <% end %>
            <div class="row">
              <div class="small-12 columns">
                <%= donation.description %>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
               <small><%= [t('oodls.ui.donations.from_date').humanize, donation.from_date].join(': ') %></small>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <small><%= [t('oodls.ui.donations.will_deliver').humanize, donation.will_deliver].join(': ') %></small>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <p><%= link_to t('oodls.ui.details').humanize, donation_path(donation) %></p>
              </div>
            </div>


          </li>
      <% end %>

    </ul>
  </div>
</div>