<div class="row">
  <div class="small-8 columns">
    <h2><%= [t('oodls.ui.donations.donation_show'), @donation.title].join(' ') %></h2>
  </div>
  <div class="small-4 columns">
    <%= link_to [t('oodls.ui.back_to'), t('oodls.ui.donations.all_donations')].join(' '), donations_path, class: 'button small' %>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <%= t('oodls.ui.registrations.organisation_name') %>
  </div>
  <div class="small-8 columns">
    <%= @donation.donor ? @donation.donor.organisation : 'Not set' %>
  </div>
</div>


<div class="row">
  <div class="small-4 columns">
    <%= t('oodls.ui.description').humanize %>
  </div>
  <div class="small-8 columns">
    <%= @donation.description ? @donation.description : 'Not set' %>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <%= t('oodls.ui.donations.from_date') %>
  </div>
  <div class="small-8 columns">
    <%= @donation.from_date ? @donation.from_date : 'Not set' %>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <%= t('oodls.ui.donations.will_deliver').humanize %>
  </div>
  <div class="small-8 columns">
    <%= image_tag(status_image(@donation.will_deliver), class: 'status-icon') %>
  </div>
</div>

<% if @donation.donor %>
    <div class="row">
      <div class="small-4 columns">
        <%= t('oodls.ui.registrations.org_person') %>
      </div>
      <div class="small-8 columns">
        <%= @donation.donor.contact_name ? @donation.donor.contact_name : 'Not set' %>
      </div>
    </div>
<% end %>

<% unless @donation_claims.blank? %>
    <div class="row">
      <br/>

      <div class="small-12 large-8 columns">
        <h2> <%= t('oodls.ui.donations.claim_donation') %></h2>
        <% @donation_claims.each do |claim| %>
            <div class="panel">
              <h3><%= claim.charity.organisation %></h3>
              <small><%= [t('oodls.ui.created'), localize(claim.created_at, format: :long)].join(' ') %></small>
              <p><%= claim.comment %></p>

              <p><%= [t('oodls.ui.donations.pick_up_date'), claim.pick_up_date].join(' ') %></p>
              <% if current_charity == claim.charity %>
                  <p><%= link_to 'Delete', donation_donation_claim_path(claim.donation.id, claim.id), method: :delete, data: {confirm: 'Are you sure?'} %></p>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
<% else %>
    <div class="row">
      <div class="small-12 columns">
        <hr/>
        <h3><%= t('oodls.ui.donations.no_claims') %></h3>
      </div>
    </div>
<% end %>
<br/>
<% if current_charity.present? %>
    <div class="row">
      <div class="small-12 columns">
        <%= render 'donation_claims/form' %>
      </div>
    </div>
<% elsif !current_donor.present? %>
    <div class="row">
      <div class="small-12 columns">
        <h3><%= t('oodls.ui.donations.register_to_claim') %>  </h3>
        <%= link_to t('oodls.ui.add_charity'), new_charity_registration_path, class: 'small button' %>
      </div>
    </div>
<% end %>
<% if I18n.locale == :sv && current_charity.present? %>
    <div class="row">
      <div class="small-12 columns">
        <%= directions_info(current_charity, @donation.donor) %>
      </div>
    </div>
<% end %>

