<div class="row">
  <div class="small-12 columns">
    <h2><%= [t('oodls.ui.donations.donation_show'), @donation.title].join(' ') %></h2>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <%= t('oodls.ui.registrations.organisation_name') %>
  </div>
  <div class="small-8 columns">
    <%= @donation.donor ? @donation.donor : 'Not set' %>
  </div>
</div>


<div class="row">
  <div class="small-4 columns">
    <%= t('oodls.ui.description').humanize %>
  </div>
  <div class="small-8 columns">
    <%= @donation.description ? @donation.description : 'Not set' %>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <%= t('oodls.ui.donations.from_date') %>
  </div>
  <div class="small-8 columns">
    <%= @donation.from_date ? @donation.from_date : 'Not set' %>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <%= t('oodls.ui.donations.will_deliver').humanize %>
  </div>
  <div class="small-8 columns">
    <%= @donation.will_deliver %>
  </div>
</div>

<% if @donation.donor %>
    <hr/>
    <div class="row">
      <div class="small-4 columns">
        <%= t('oodls.ui.registrations.org_person') %>
      </div>
      <div class="small-8 columns">
        <%= @donation.donor.contact_neme ? @donation.donor.contact_neme : 'Not set' %>
      </div>
    </div>
<% end %>

<% unless @donation_claims.blank? %>
    <hr/>
    <div class="row">
      <div class="small-12 columns">
        <h3> <%= t('oodls.ui.donations.claim_donation') %></h3>
        <% @donation_claims.each do |claim| %>
            <div>
              <strong><%= [t('oodls.ui.registrations.organisation_name'), claim.charity.organisation].join(': ') %></strong>
              <br/>

              <p><%= claim.comment %></p>
              <% if current_charity == claim.charity %>
                  <p><%= link_to 'Delete', donation_donation_claim_path(claim.donation.id, claim.id), method: :delete, data: {confirm: 'Are you sure?'} %></p>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>

<% if current_charity.present? %>
    <div class="row">
      <div class="small-12 columns">
        <%= render 'donation_claims/form' %>
      </div>
    </div>
<% elsif !current_donor.present? %>
    <div class="row">
      <div class="small-12 columns">
        <h3>Register your charity to claim donation</h3>
        <%= link_to t('oodls.ui.add_charity'), new_charity_registration_path,class: 'small button' %>
      </div>
    </div>
<% end %>

