<div class="charity-profile row">
  <div class="small-12 medium-6 large-3 columns">
    <div class="row">
      <% if @charity.logo? %>
          <%= cl_image_tag @charity.logo.path, {width: 200, height: 200, crop: :thumb} %>
      <% else %>
          <%= image_tag '/images/oodls-placeholder.svg', {width: 200, height: 200} %>
      <% end %>
    </div>
  </div>
  <div class="small-12 medium-6 large-6 columns">
    <div class="row">
      <%= @charity.description %>
    </div>
    <% if @charity.website_url %>
        <div class="row">
          <%= link_to t('oodls.ui.visit_the_website'), @charity.website_url, target: '_blank' %>
        </div>
    <% end %>
    <div class="row">
      <h3><%= t('oodls.ui.registrations.org_contact_header') %></h3>
      <ul class="no-bullet">
        <li><%= @charity.contact_name %></li>
        <li><a href="mailto:<%= @charity.email %>"><%= t('oodls.ui.email_us') %></a></li>
        <li><%= @charity.full_address %></li>
        <li><%= @charity.postcode %></li>
      </ul>
    </div>
    <div class="row">
      <h3><%= t('oodls.ui.operations.opening_hours') %></h3>
      <p><strong><%= t('date.weekdays').humanize %>:</strong> <%= @charity.weekday_opening_hours %> <br/>
      <strong><%= t('date.weekends').humanize %>:</strong> <%= @charity.weekend_opening_hours %></p>
    </div>
  </div>
  <div class="small-12 medium-6 large-3 columns">
    <div class="row">
      <h3><%= t('oodls.ui.operations.food_accepted') %></h3>
      <ul class="no-bullet">
        <% if @charity.requirements_array.empty? %>
            <li><%= t('oodls.ui.donations.not_accepting_donations') %></li>
        <% else %>
            <% @charity.requirements_array.each do |key, value| %>
                <li><%= image_tag "icons/#{key[:heading]}.svg", size: "40x40" %><%= key[:label] %></li>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
